<div class="bg">
  <div class="w-75 card mx-auto my-4 bg-info h-75">
    <div class="card-body">
      <div class="card-deck h-100">
        <div class="card bg-white text-white">
          <div class="card-body">
            <div class="accordion" id="accordion">
              <div *ngFor="let header of headers; let i=index" class="card mb-1">
                <div class="card-header" id="heading{{i}}">
                  <button class="btn btn-link text-dark" data-toggle="collapse" [attr.data-target]="'#col'+i">
                    {{header}}
                  </button>
                </div>

                <div id="col{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
                  <div class="card-body border border-dark mx-auto">

                    <form>
                      <div class="form-group text-secondary mx-auto">
                        <label>Username:</label>
                        <input
                          type="text"
                          class="form-control w-75"
                          name="username"
                          [(ngModel)]="username"
                        />
                      </div>
                      <div class="form-group text-secondary">
                        <label>Password:</label>
                        <input
                          type="password"
                          class="form-control w-75"
                          name="password"
                          [(ngModel)]="password"
                        />
                      </div>
                      <button (click)="loginClick(i)"
                        class="px-5 btn btn-secondary btn-sm" type="button">Sign In</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
